body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('pngtree-luminous-swoop-a-seamless-neon-infused-texture-image_13910565.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    text-align: center;
    background-image: url('Landscape-Color.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1,
h2,
p,
tr {
    color: white;
}

.modal-content {

    background-color: wheat;
}

.quiz-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.quiz-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 200px;
}

.quiz-item:hover {
    transform: scale(1.05);
}

.quiz-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #007bff;
    display: block;
    margin: 0 auto;
}


.base {

    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background: #333;
    color: rgb(24, 21, 21);
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}